body,h1, div,span,p,a,img,ul,li,a{
			margin: 0;
			padding: 0;	
		}
		body{
			background-color: #f2f2f2;
		}
		.logo,a,span,li{
			/*outline: 1px dashed blue;*/
		}
		.logo{
			width: 300px;
			height: 60px;
			margin-left: 165px;
			margin-top: 54px;
		}
		.logo a{
			text-decoration: none;
			color: #33475f;
			height: 65px;
			/*background: url("logo.png") no-repeat left center;*/
			/*红领巾*/
			background: url("../images/logo-hong.png") no-repeat left center;
		}
		.logo a,span{
			display: block;
		}
		.logo span{
			width: 235px;
			padding-left: 53px;
		}
		.logo .zh{
			font-family: "等线";
			font-size: 26px;
			font-weight: bold;
			padding-top: 10px;
		}
		.logo .en{
			font-family: "Calibri";
			font-size: 11px;
			font-weight: bold;
			margin-top: 6px;
			padding-left: 56px;
		}

		
		.member{
			/*margin-left: 295px;*/
			margin-top: 100px;
			height: 350px;
		}
		.member ul{
			list-style-type: none;
			text-align: center;
		}
		
		.member ul li {
			display: inline-block;
			width: 135px;
			height: 240px;
			font-family: "微软雅黑";
			/* background-color: #ededed; */
			background-color: #EFECEC;
			color: #44546a;
			margin-left: 20px;
			margin-bottom: 15px;
			/* padding: 10px; */
			border-radius: 5px;
			box-shadow: 0 2px 5px #A0A0A0;
			/* box-sizing: border-box; */
		}

		.member ul li a{
			text-decoration: none;
			color: #33475f;
			display: inline-block;
			height: 240px;
		}
		.member ul li img{
			margin: 29px auto 7px auto;
		}
		.member .nickname{
			font-size: 18px;
			margin-bottom: 8px;
		}
		.member .label{
			font-size: 9px;
		}

		.member ul li a:hover,.member ul li a:focus,.member ul li a:active{

			/* margin-left: 4px; */
			background-color: #11cd6e;
			color: #ffffff;
			border-radius: 5px;
			
			/* padding-bottom: 10px; */
			display: block;

		}

		.logo a:hover,.logo a:focus,.logo a:active{
			margin-left: 5px;
		}
		
		.footer{
			/* height: 104px; */
			background-color: #dbdbdb;
			text-align: center;
			font-family: "微软雅黑";
			font-size: 10px;
			
		}
		.footer p{
			padding: 20px;
		}
